<%# <h1>Homepage#home</h1>
<p>Find me in app/views/homepage/home.html.erb</p> %>
     <!--Home-->
    <div class="banner text-center ">
      <div class="container">  
          <h1>Egidio De-Souza</h1>
          <p>Web Developer</p>
        <ul class="flex text-center">
          <li class=><a href="mailto:egidio.de-souza@hotmail.co.uk" class= "icon" target="_blank"><i class="far fa-envelope"></i></a></li>
          <li><a href="https://www.linkedin.com/in/egidio-de-souza-%E8%BF%AA%E6%AC%A7-2a712ab3/"class= "icon" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://github.com/EgidioDe-Souza"class= "icon" target="_blank"><i class="fab fa-github"></i></a></li>
        </ul> 
      </div>
    </div>
    <!--End Of Home-->

    <!--About-->
    <div class="container text-center col-lg-7 p-5" id="about">
       <h1 class="p-3">About Me</h1>
       <%= image_tag "P1000425.jpg", class: "avatar-large"%>
       <p class="p-3">Hi Everyone, my name is Egidio De-Souza. I have a degree in Business With Mandarin, and I have been working in the international educational sector for the past three years. At the beginning of last year, 
         I was a Sales and Admissions Advisor for an small independent school. 
         Unfortunately, this industry struggled to cope during the pandemic and as a result I was made redundant from my job in September 2020. I used this setback as an opportunity to upskill myself, volunteered as a business advisor, and learn more about the technology industry. 
         Through this a love for programming was discovered, and I undertook various courses on Python, SQL, HTML, CSS and JavaScript. I attended a 9-week full-timeintensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6,
         SQL, git, GitHub, Heroku and Ruby on Rails. Designed, implemented and shipped to
         production a clone of AirBnB.
         </p>   
        </p>
        <p>      
     </div>
             
    
   <!-- End of About-->

    <!--Projects-->
   <<div class="text-center">
     <h1>Projects</h1>
   
     <div class="card-product">
       <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
       <div class="card-product-infos">
         <h2>Product name</h2>
         <p>Product description with <strong>relevant info</strong> only.</p>
       </div>
      </div>

     <%# <div class="card-product">
       <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
       <div class="card-product-infos">
         <h2>Product name</h2>
         <p>Product description with <strong>relevant info</strong> only.</p>
       </div>
      </div>
     <div class="card-product">
       <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
       <div class="card-product-infos">
         <h2>Product name</h2>
         <p>Product description with <strong>relevant info</strong> only.</p>
       </div>
      </div> -->
    %>

  <!-- End of Projects-->

  <!--Contacts-->
 