// Specific CSS for your home-page


/*PAGE LAYOUT*/
html,
body {
  background-color: #111633;
}

h1,
h2,
  {
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

br {
  line-height: 10px;
}

.top-home {
  position: relative;
  top: 80px;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
}

.img-circle {
  border-radius: 100%;
}


ul li {
  list-style-type: none;
  padding: 18px;
}

.flex {
  display: flex;
  justify-content: center;
}

.home {
  padding-bottom: 250px;
  padding: 40px 75px;
}

//  #particles-js {
//    background-color: #413b3b;
//    background-size: cover;
//    background-position: 50% 50%;
//    background-repeat: no-repeat;
//  }

/* CENTER TEXT */
.text-center {
  text-align: center;
}

/* ICON SPECIFICATIONS */
.icon {
  font-size: 56px;
  margin: 0 auto;
  padding: 0px 16px;
  position: relative;
  text-decoration: none;
}

.icon-contact {
  font-size: 66px;

}

.icon a:hover {
  background-color: #3350d2;
}

/*SKILLS*/
.ul-skills {
  text-align: center;
  padding-left: 0;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: #31b0d5;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
}

/*CONTENT*/
.main-content {
  flex: 0 0 66.6%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.side-content {
  flex: 0 0 16.6%;
}


// .side-content-sm {
//   flex: 0 0 10%;
// }

// .main-content-lg {
//   flex: 0 0 80%;
//   margin-top: 2rem;
//   margin-bottom: 3rem;
// }

// .box-shadow {
//   -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
//   -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
//   box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
// }

// .content-body {
//   line-height: 1.5;
//   color: rgba(0,0,0,.75);
// }

// .row {
//   display: flex;
// }

// .navbar a:hover {
//   background-color:#3350d2;
// }


// html, body { height: 100%; }
// body {
//   background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
//   overflow: hidden;
// }

// .ocean { 
//   height: 5%;
//   width:100%;
//   position:absolute;
//   bottom:0;
//   left:0;
//   background: #015871;
// }

// .wave {
//   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
//   position: absolute;
//   top: -198px;
//   width: 6400px;
//   height: 198px;
//   animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
//   transform: translate3d(0, 0, 0);
// }

// .wave:nth-of-type(2) {
//   top: -175px;
//   animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
//   opacity: 1;
// }

// @keyframes wave {
//   0% {
//     margin-left: 0;
//   }
//   100% {
//     margin-left: -1600px;
//   }
// }

// @keyframes swell {
//   0%, 100% {
//     transform: translate3d(0,-25px,0);
//   }
//   50% {
//     transform: translate3d(0,5px,0);
//   }
// }






/*PAGE RESPONSIVENESS*/
// @media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
// @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
// @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
// @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }

// .card-body p {
//   color: black;
// }