<div class="banner text-center">
    <div class="container">
      <h1>
        <span id="banner-typed-text"></span>
      </h1>
        <ul class="flex text-center">
          <li><a href="mailto:egidio.de-souza@hotmail.co.uk" class="icon" target="_blank"><i class="far fa-envelope"></i></a></li>
          <li><a href="https://www.linkedin.com/in/egidio-de-souza-%E8%BF%AA%E6%AC%A7-2a712ab3/"class="icon" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://github.com/EgidioDe-Souza"class="icon" target="_blank"><i class="fab fa-github"></i></a></li>
        </ul> 
    </div>
  </div>
