
<h1 class="text-center">Projects</h1>
<%# 
<div class="card-product card-div text-center">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Yumtum</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product card-div text-center">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Rails Task Manager</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product card-div text-center">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Rails Task Manager</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product card-div text-center">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Rails Task Manager</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> %>
<div class="row row-cols-1 row-cols-sm-2 g-3">
  <div class="col">
    <div class="card">
        <%= image_tag "yumtum-screenshot.JPG",  class: "card-img-top" %>
          <%# <%= link_to "https://yumtum-egidiode-souza.herokuapp.com/" %> %>
      <div class="card-body">
        <h5 class="card-title">Yumtum is an app that connects people with chef's who want to showcase their exquisite cuisines , and community cooks who want to give away their unwanted food to prevent food waste.</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      
      <%= image_tag "educity-screenshot.JPG",  class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title">Educity was designed for people looking to upskill themselfves and seek a career change. Educity facilitates creation of peer groups via zoom, and allows individuals who are interested in the same course, to study together on the platform. </h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  
</div>
    