<div class="footer">
   <div class="footer-links flex text-center">
     <a href="https://github.com/EgidioDe-Souza" target="blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/egidio-de-souza-%E8%BF%AA%E6%AC%A7-2a712ab3/" target="blank"><i class="fab fa-linkedin"></i></a>
    </div>
</div>