<div class="footer">
   <div class="footer-links flex text-center">
     <a href="https://github.com/EgidioDe-Souza" target="blank"><i class="fab fa-github"></i></a>
     <a href="https://www.linkedin.com/in/egidio-de-souza-%E8%BF%AA%E6%AC%A7-2a712ab3/" target="blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-credit">
      <p>Developed By Egidio De-Souza</p>
    </div>
</div>

  <script type="text/javascript">
    particlesJS.load('particles-js', '../../public/packs/js/particles.js', function() {
    console.log('callback - particles.js config loaded');
 });
  </script>
